{% extends 'auth_app/base.html' %}

{% block title %}login {% endblock %}


{% block content %}

    <div class="jumbotron">
        <h1>Welcome to the Login Template Page</h1>
        <p>Please login.</p>

        <form action="{% url 'auth_app:user_login' %}" method="POST">

            {% csrf_token %}

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username">

            <label for="password">Password</label>
            <input type="password" name="password">

            <input type="submit" value="Login">
        </form>
    </div>
    
{% endblock %}